.jobName
{
    
    color:white;
    display:inline;
    position:absolute;
    top:10px;
    left:150px;
    font-size:2.5rem;
    font-family:fantasy;
    font-weight:normal;
    
}
header{
    background-color:dodgerblue;
    color:white;
    height:150px;
    text-align:left;
  
}
.des{
    font-size:12px;
    position:absolute;
    top:90px;
    left:150px;
    
}
header img{
    float:left;
    padding:10px;
    border-radius:50%;
    width:120px;
    height:120px;
}

header a{
   border-radius:25px;
    padding:10px;
    font-size:16px;
}
header a:link{
    text-decoration:none;
    color:white;
    font-size:1.1rem;
    

   
}
header a:visited{
    text-decoration:none;
    color:white;
    font-size:1.1rem;
  
}
header a:hover
{
    text-decoration:none;
    background-color:white;
    color:dodgerblue;
    font-size:1.1rem;
}
.nav
{
position:absolute;
top:45px;
left:950px;
right:0px;
height:48px;
}

.not
{
    
    padding:20px;
    margin:30px;
    border-width:3px;
    border-style:solid;
    border-color:white;
    background-color:white;
    height:30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
  
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    
}
.con
{
    font-size:17px;
    font-weight:800px;
    color:rgb(181, 81, 81);

}

.status
{
    display:inline;
    width:fit-content;
    align-self:flex-end;
    padding:10px;
    border-style:solid;
    border-width:3px;
    border-color:rgb(219, 154, 154);
    background-color:rgb(219, 154, 154);
    border-radius:10px;
    margin:3px;
   
}
body{
    background-color: rgb(250, 245, 245);
}